
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: black;
        color: whitesmoke;
    }
    
    li {
        float: left;
        font-size: 30px;
    }
    
    li a, .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    li a:hover, .dropdown:hover .dropbtn {
        background-color: red;
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
h1 {
    text-align: center;
    color: whitesmoke;
    background-color:black;
    margin-top: 0px;
     
     font-style: italic;
     font-weight: bold;

}
 
body {
   background-image: url("https://images.performgroup.com/di/library/GOAL/7/31/lionel-messi-barcelona-sevilla-la-liga-20102018_n22ok9oh6jz7132agrulwmc7g.jpg?t=-1814015098&quality=90&w=1280");
   
    background-repeat: no-repeat;
    background-size: cover;
}
#bar {
    display:flex;
    justify-content: space-around;
    background-color:black;
}